@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* background image */
body,
html {
    font-family: 'Ubuntu', sans-serif;
    border: yellow solid 3px;
    height: auto;
    width: 100%;
    margin: 0;
}

.data {
    background-image: url("/picture/Optimized-cropped-coffeetable.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    margin-left: 250px;
}

/* header */
nav {
    background: crimson;
    line-height: 80px;
    position: fixed;
    width: 100%;
}

label a {
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-left: 50px;
    cursor: pointer;
}

nav label a span {
    /* logo font-span */
    color: rgb(87, 1, 1);
}

/* header fa-bar */
nav div {
    float: right;
    line-height: 80px;
    margin: 0 50px;
    font-size: 30px;
}

.navbar {
    color: white;
    font-size: 30px;
}

nav div i:hover {
    color: rgb(220, 20, 60);
    transition: 0.5s;
}

/* side-menu */
.side-menu {
    position: fixed;
    background: crimson;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}

.side-menu center img {
    height: 120px;
    width: 120px;
    margin-top: 30px;
}

.side-menu center h2 {
    color: white;
}

.side-menu a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
}

.side-menu a:hover {
    background: rgb(173, 4, 38);
    padding-left: 40px;
}

.side-menu span {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.side-menu i {
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

nav .menu-bar {
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

/* hidding checkbox */
#menu {
    display: none;
}

/* projects */


.home-text {
    padding-top: 300px;
    padding-left: 300px;
    border: yellow solid 2px;


}

/* homepage-greeting */
.text-1 {
    font-size: 4vw;
    color: white;
}

.text-1-1 {
    font-size: 3.2vw;
    color: white;
    text-align: initial;
}

.text-2 {
    font-size: 4.5vw;
    font-weight: 500px;
    margin-right: 3px;
    padding-top: 10px;
    color: white;
    text-align: center;
}

.text-3 {

    font-size: 4.5vw;
    margin: 5px 0;
    padding-top: 10px;
    color: white;
    text-align: center;
}

.text-3 span {
    color: rgb(240, 63, 99);
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 10px;
    font-size: 5.2vw;

}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
@media screen and (max-width: 600px) {
    .side-menu {
        width: 100%;
        background-color: rgb(201, 85, 108);
    }

    .side-menu a i {
        display: block;
        line-height: 80px;
        text-align: center;
        font-size: 35px;
        margin-left: 0;
    }

    /* home section */




    /* description section */

    .description-content {
        background-color: rgb(225, 225, 225, 0.7);
        border: palegreen solid 3px;
        color: gray;
        text-align: justify;
        padding: 10px;
    }

    .p-text1 {
        border: palegreen solid 1px;
        text-align: center;
    }

    .p-text1 p {
        padding: 20px 0;
        font-size: 4vw;
        font-weight: bold;
    }



    .p-text2 {
        padding: 20px;
        line-height: 1.7em;
    }

    /* delimiter */
    hr.dotted {

        border-top: 5px dotted rgb(255, 255, 255);
    }

    /* project section */
    .projects {
        font-size: 3vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 20px 0;
        background-color: rgb(10, 11, 14, 0.3);
    }

    .projects a {
        color: white;
        line-height: 2rem;
    }

    #region

    /* form-contactme-page */
    /* reset */
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        color: inherit;
        border: none;
        border-radius: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    #endregion #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
        font-size: .825rem;
        margin-bottom: .5rem;
        padding-top: .2rem;
        display: flex;
        align-items: baseline;
    }

    /* border, padding, margin, width */
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm #card-element {
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.9);
        padding: .75em 1rem;
        margin-bottom: 1.5rem;
    }

    #fs-frm input:focus,
    #fs-frm select:focus,
    #fs-frm textarea:focus {
        background-color: white;
        outline-style: solid;
        outline-width: thin;
        outline-color: gray;
        outline-offset: -1px;
    }

    #fs-frm [type="text"],
    #fs-frm [type="email"] {
        width: 100%;
    }

    #fs-frm [type="button"],
    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
        width: auto;
        cursor: pointer;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    }

    #fs-frm [type="button"]:focus,
    #fs-frm [type="submit"]:focus,
    #fs-frm [type="reset"]:focus {
        outline: none;
    }

    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
        margin-bottom: 0;
    }

    #fs-frm select {
        text-transform: none;
    }

    #fs-frm [type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        display: inline-block;
        width: auto;
        margin: 0 .5em 0 0 !important;
    }

    #fs-frm [type="radio"] {
        -webkit-appearance: radio;
        -moz-appearance: radio;
        appearance: radio;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .form-section {
        border-radius: 5px;
        background-color: rgb(242, 242, 242, 0.5);
        margin-top: 50px;
        padding: 20px 10px 20px 10px;
    }

    /* address, locale */
    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
        display: inline;
    }

    #fs-frm fieldset.locale input[name="city"] {
        width: 52%;
    }

    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
        width: 20%;
    }

    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"] {
        margin-right: 3%;
    }

}


/* For tablet */
@media screen and (min-width: 601px) {



    /* header-navbar */
    .home-content {
        justify-content: center;
        border: blue solid 2px;
        color: white;
        height: 100%;
        width: 60%;
        margin: 30% 10%;
        padding: 0 0;

    }


    .text-1 {
        font-size: 4vw;

    }

    .text-2 {
        font-size: 6vw;
        font-weight: 500px;
        margin-right: 3px;
        padding-top: 10px;
    }

    .text-3 {

        font-size: 5vw;
        margin: 5px 0;
        padding-top: 10px;
    }

    .text-3 span {
        color: crimson;

    }

    /* description section */
    #description {
        width: 100%;
    }

    .description-content {
        background-color: rgb(225, 225, 225, 0.7);
        border: palegreen solid 3px;
        color: gray;
        text-align: center;
        padding: 10px;
        margin-left: 250px;
    }

    .p-text1 {
        border: palegreen solid 1px;
        text-align: center;
    }

    .p-text1 p {
        padding: 20px 0;
        font-size: 4vw;
        font-weight: bold;
    }

    .p-text2 {
        padding: 20px;
        line-height: 1.7em;
    }

    /* delimiter */
    hr.dotted {

        border-top: 5px dotted rgb(255, 255, 255);
    }

    /* project section */
    .projects {
        width: 100%;
        margin-left: 250px;
        font-size: 1.3vw;
        text-align: center;
        display: flex;
        background-color: rgb(10, 11, 14, 0.3);
        margin-bottom: 30px;
        padding: 30 0;
        cursor: pointer;
    }

    .projects a {
        color: white;
        line-height: 10px;
    }

    .projects img {
        height: 300px;
        width: auto;
    }

    /* footer */

    footer {
        width: 100%;
        margin-left: 250px;
    }

    #region

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

/* for browser screen over 993px */
@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}