@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* navbar section */

.header-box{
    border:  rgb(189, 27, 211) solid 3px;
    display: block;
    height: 80px;
    background: crimson;
}
.header-box .logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 30px;
}
.header-box a{
    color: white;
}
.header-box a span{
    color: black;
}


/* sidebar section */

.side-menu{
    border: turquoise solid 3px;
    position: fixed;
    background:rgb(167,15,21,0.6);
    width: 200px;
    height: 100%;
    margin-top: 0px;
}
.side-menu .menu-container{
    margin-top: 180px;
}

.side-menu a {
    display: block;
    line-height: 60px;
    transition: 0.5s;

}
.side-menu a:hover {
    background: rgb(167, 16, 24);
    padding-left: 20px;

}
.side-menu span {
    font-size: 20px;
    margin-left: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}
.side-menu i{
    font-size: 20px;
    margin-left: 20px;
    color:white;
}


/* home section */

body{
    border: yellow solid 3px;
    background: url("../picture/Optimized-cropped-coffeetable.png") no-repeat center;
    background-size: cover;
    height: 100%;
    margin-top: 0;
}

.max-width {
    border: orangered solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    padding-top: 300px;
    margin-left: 200px;
}

#image {
    border: greenyellow solid 2px;
    width: 200px;
    margin-bottom: 300px;
}

.home {

    font-family: 'Ubuntu', sans-serif;
}

.home-content{
    border: blue solid 2px;
    color: white;
   height: 100%;

}

.home .home-content .text-1 {
    font-size: 20px;

}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 500px;
    margin-left: -100px;

}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;

}

.home .home-content .text-3 span {
    color: crimson;

}
/* skill section */

